############################
# .NET
############################
bin/
obj/

*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

.vs/

############################
# Build / publish
############################
publish/
out/

############################
# Logs
############################
*.log

############################
# ASP.NET Core configs
############################
appsettings.Development.json
appsettings.Local.json

############################
# Python (SpeechService / AI)
############################
__pycache__/
*.pyc
*.pyo
*.pyd

.env
venv/
.venv/

############################
# Node (якщо десь є RN / tooling)
############################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

############################
# IDE
############################
.idea/
.vscode/

############################
# OS
############################
Thumbs.db
Desktop.ini

############################
# DATABASES
############################
*.db
*.db-shm
*.db-wal

############################
# MEDIA (ДУЖЕ ВАЖЛИВО)
############################
ExerciseService/wwwroot/static/**

# Але залишаємо структуру
!ExerciseService/wwwroot/static/
!ExerciseService/wwwroot/static/.gitkeep